--
-- PostgreSQL database cluster dump
--

-- Started on 2025-10-20 16:28:50 UTC

\restrict 4teystyIjbShjzvIb3ER4doyyBP4dKiiKHAzUI8wa1kE25uzNoVM931yWCSF2Sc

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:V+WxaNcGyr1pkPsyFSp0Fg==$I5g8cgPhF723xU4J/BxNUYbtN5GjrLLreSZDgu1swvQ=:VMb2ttTWyPSg/Nfah5MTfSXW63EyAxxysuMW0QVl8IQ=';
CREATE ROLE replicador;
ALTER ROLE replicador WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN REPLICATION NOBYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:x4zS1qbWsbKyrOVvucLpLw==$WEPDodo1+pS+T5mv3xdoX9s9HhvDGvmcPSwdJwmDW+o=:4TRQRvCH9IoftkAuOhzPuKEAUfcyRc0kNppuHh3YtyM=';

--
-- User Configurations
--








\unrestrict 4teystyIjbShjzvIb3ER4doyyBP4dKiiKHAzUI8wa1kE25uzNoVM931yWCSF2Sc

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict 4y7kz1ADlA8QY5T0yvY0iUJh8Pi4C4TgQxV8tcR3hShCKxwOWlkmZqHqsJHbmRw

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

-- Started on 2025-10-20 16:28:51 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

-- Completed on 2025-10-20 16:28:51 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict 4y7kz1ADlA8QY5T0yvY0iUJh8Pi4C4TgQxV8tcR3hShCKxwOWlkmZqHqsJHbmRw

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict TekinIOqy1g9x7MFpKPuFxY8N1mfPsUVHxTocS45Rb9VzNaNVAubNaeIWrzNRRK

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

-- Started on 2025-10-20 16:28:51 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 215 (class 1259 OID 16389)
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    telefono character varying(20),
    email character varying(100),
    direccion text,
    fecha_registro timestamp without time zone DEFAULT now()
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- TOC entry 214 (class 1259 OID 16388)
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clientes_id_seq OWNER TO postgres;

--
-- TOC entry 3441 (class 0 OID 0)
-- Dependencies: 214
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- TOC entry 219 (class 1259 OID 16410)
-- Name: pedidos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedidos (
    id integer NOT NULL,
    cliente_id integer,
    fecha_pedido timestamp without time zone DEFAULT now(),
    total numeric(10,2),
    estado character varying(20) DEFAULT 'pendiente'::character varying
);


ALTER TABLE public.pedidos OWNER TO postgres;

--
-- TOC entry 218 (class 1259 OID 16409)
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pedidos_id_seq OWNER TO postgres;

--
-- TOC entry 3442 (class 0 OID 0)
-- Dependencies: 218
-- Name: pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedidos_id_seq OWNED BY public.pedidos.id;


--
-- TOC entry 217 (class 1259 OID 16399)
-- Name: productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    precio numeric(10,2) NOT NULL,
    stock integer DEFAULT 0,
    categoria character varying(50),
    activo boolean DEFAULT true
);


ALTER TABLE public.productos OWNER TO postgres;

--
-- TOC entry 216 (class 1259 OID 16398)
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.productos_id_seq OWNER TO postgres;

--
-- TOC entry 3443 (class 0 OID 0)
-- Dependencies: 216
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- TOC entry 3273 (class 2604 OID 16392)
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- TOC entry 3278 (class 2604 OID 16413)
-- Name: pedidos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos ALTER COLUMN id SET DEFAULT nextval('public.pedidos_id_seq'::regclass);


--
-- TOC entry 3275 (class 2604 OID 16402)
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- TOC entry 3431 (class 0 OID 16389)
-- Dependencies: 215
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes (id, nombre, telefono, email, direccion, fecha_registro) FROM stdin;
1	Supermercado La Esperanza	1234-5678	compras@laesperanza.com	Zona 1, Ciudad	2025-10-20 16:28:21.054607
2	Restaurante El Fog├â┬│n	2345-6789	pedidos@elfogon.com	Zona 10, Ciudad	2025-10-20 16:28:21.054607
3	Comedor Central	3456-7890	administracion@comedorcentral.com	Zona 5, Ciudad	2025-10-20 16:28:21.054607
4	Distribuidora QuickFood	4567-8901	ventas@quickfood.com	Zona 15, Ciudad	2025-10-20 16:28:21.054607
\.


--
-- TOC entry 3435 (class 0 OID 16410)
-- Dependencies: 219
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pedidos (id, cliente_id, fecha_pedido, total, estado) FROM stdin;
1	1	2025-10-20 16:28:21.482304	1250.75	completado
2	2	2025-10-20 16:28:21.482304	890.50	completado
3	3	2025-10-20 16:28:21.482304	2100.25	procesando
4	4	2025-10-20 16:28:21.482304	750.00	pendiente
\.


--
-- TOC entry 3433 (class 0 OID 16399)
-- Dependencies: 217
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3444 (class 0 OID 0)
-- Dependencies: 214
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientes_id_seq', 4, true);


--
-- TOC entry 3445 (class 0 OID 0)
-- Dependencies: 218
-- Name: pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedidos_id_seq', 4, true);


--
-- TOC entry 3446 (class 0 OID 0)
-- Dependencies: 216
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.productos_id_seq', 8, true);


--
-- TOC entry 3282 (class 2606 OID 16397)
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- TOC entry 3286 (class 2606 OID 16417)
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- TOC entry 3284 (class 2606 OID 16408)
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- TOC entry 3287 (class 2606 OID 16418)
-- Name: pedidos pedidos_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


-- Completed on 2025-10-20 16:28:51 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict TekinIOqy1g9x7MFpKPuFxY8N1mfPsUVHxTocS45Rb9VzNaNVAubNaeIWrzNRRK

-- Completed on 2025-10-20 16:28:51 UTC

--
-- PostgreSQL database cluster dump complete
--

