--
-- PostgreSQL database cluster dump
--

-- Started on 2025-10-20 16:13:27 UTC

\restrict Q9LhDtXH9expxgy3QKrOQ8XTwzUm8JFA9PcoeUkCVpcxbPTZuD6uPNManNgQblS

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:V+WxaNcGyr1pkPsyFSp0Fg==$I5g8cgPhF723xU4J/BxNUYbtN5GjrLLreSZDgu1swvQ=:VMb2ttTWyPSg/Nfah5MTfSXW63EyAxxysuMW0QVl8IQ=';
CREATE ROLE replicador;
ALTER ROLE replicador WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN REPLICATION NOBYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:x4zS1qbWsbKyrOVvucLpLw==$WEPDodo1+pS+T5mv3xdoX9s9HhvDGvmcPSwdJwmDW+o=:4TRQRvCH9IoftkAuOhzPuKEAUfcyRc0kNppuHh3YtyM=';

--
-- User Configurations
--








\unrestrict Q9LhDtXH9expxgy3QKrOQ8XTwzUm8JFA9PcoeUkCVpcxbPTZuD6uPNManNgQblS

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict g3tdwckrsGlb6TrD1T3rK2UAhkw77Fc3ApYgNnbHjqonlehLEia4cr5b6gEuQ4M

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

-- Started on 2025-10-20 16:13:27 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

-- Completed on 2025-10-20 16:13:27 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict g3tdwckrsGlb6TrD1T3rK2UAhkw77Fc3ApYgNnbHjqonlehLEia4cr5b6gEuQ4M

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict vhZPrQfBZc62320Hc6mc370mlwh1pS11vOpgvSwivsF1OcTIjbGlrH1Ez39mHmR

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

-- Started on 2025-10-20 16:13:27 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

-- Completed on 2025-10-20 16:13:27 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict vhZPrQfBZc62320Hc6mc370mlwh1pS11vOpgvSwivsF1OcTIjbGlrH1Ez39mHmR

-- Completed on 2025-10-20 16:13:27 UTC

--
-- PostgreSQL database cluster dump complete
--

